/* Master CSS */

* {
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

a:visited {
text-decoration: none;
color: rgb(255, 255, 255);
}

/* MAIN CSS start */

header {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 20px;
}
.subHeader {
    background-image: url("/img/skyWide.png");
    display: flex;
    height: 400px;
    font-size: 12px;
    padding: 10px;
}

.subHeader > h2 {
    color: rgb(255, 255, 255);
    align-items: flex-start;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    font-style: italic;
}

h2 {
    color: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;
}

/* NAV CONTAINER */
.main-nav > ul {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       padding: 20px;
       background-color: black;
}

/* NAV BUTTONS */
.main-nav > ul > li {
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    background-image: linear-gradient(to left, #e4d852, rgb(255, 167, 72));
    border-radius: 5px;
}

/* NAV BUTTON HOVER */
.main-nav > ul > li:hover {
box-shadow: 0 5px 15px rgb(255, 255, 255) inset;
}

/* NAV BUTTON TEXT */
.main-nav > ul > li > a {
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.slide-in {
    animation-duration: 3s;
    animation-name: slidein;
    }

    @keyframes slidein {
    from {
    margin-left: 100%;
    width: 100%;
    }

    to {
    margin-left: 0%;
    width: 100%;
    }
    }

.contact {
text-align: center;
color: rgb(96, 96, 96);
}

article {
    margin: 20px;
    margin-bottom: 50px;
    color: rgb(96, 96, 96);
}

.images {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.images > img {
margin: 2%;
}

.contactHeading {
    font-weight: bold;
}

footer {
   color: rgb(96, 96, 96);
   margin: 20px;
   margin-top: 50px; 
   text-align: center;
}
/* MAIN CSS end */




/* book1 start */

 /* Källa: Styling/design */
 /* Länk: https://webdesign.tutsplus.com/tutorials/bring-your-forms-up-to-date-with-css3-and-html5-validation--webdesign-4738 */

.form form {
    text-align: center;
    color: rgb(96, 96, 96);
}

.form form input { 
	padding:5px 8px;
	margin: 5px;
}
.form form textarea {
	padding:8px;
	margin: 5px; 
	width:300px;
}
	/* Inputfält (skugga + expandering) */
	.form form input, .form form textarea { 
		border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:20px;
		transition: padding .25s;
	}
	.form form input:focus, .form form textarea:focus {
		background: #fff; 
		border:1px solid #555; 
        box-shadow: 0 0 3px #aaa; 
        border-radius:20px;
		padding-right:70px;
	}

button.submit {
	background-color: #68b12f;
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	box-shadow: inset 0 1px 0 0 #9fd574;
	color: white;
	font-weight: bold;
    padding: 6px 20px;
	text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer; 
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
}
/* book1 CSS slut */





    /* Felmeddelande, submittar utan namn)  */
#message {
    color: red;
    font-weight: bold;
}

@media(max-width:1000px){
    .main-nav > ul{
        flex-direction: column;
        text-align: center;
    }
    .images > img {
    max-width: 90%;
}
    
@media(max-width:510px){
    header {
        font-size: 70%;
    }
    .images > img {
    max-width: 90%;
}
}}