/* ---------------MASTER CSS--------------- */

* {
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
html, body {
    overflow-x:hidden;
}
:root {
    --main-text-color: rgb(96, 96, 96);
}

/* ---------------HEADERS--------------- */
header {
    display: flex;
    justify-content: center;
    
    background-color: black;
    padding: 20px;
    padding-top: 2em;
}
.subHeader {
    background-image: url("/img/skyWide.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    height: 400px;
    font-size: 12px;
    padding: 10px;
}
.subHeader > h2 {
    color: rgb(255, 255, 255);
    align-items: flex-start;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    font-style: italic;
}
h2 {
    color: rgb(0, 0, 0);
    padding: 50px;
    text-align: center;
}

/* BOUNCE IN ANIMATION
Source:
https://thoughtbot.com/blog/css-animation-for-beginners
*/
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.artHead {
    animation-duration: 1s;
    animation-name: bounceIn;
}

/* ---------------NAV BAR--------------- */

/* NAV CONTAINER */
nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
}

/* NAV BUTTONS */
nav > ul > li {
    font-size: 20px;
    padding: 0px;
    margin: 5px;
    background-image: linear-gradient(to left, #e4d852, rgb(255, 167, 72));
    border-radius: 5px;
}

/* NAV BUTTON TEXT */
nav > ul > li > a {
    display: inline-block;
    text-align: center;
    line-height: 52px;
    height: 50px;
    width: 200px;
}

/* NAV BUTTON HOVER */
nav > ul > li:hover
{
    background:#d09132;
}
/* ---------------ARTICLES, IMAGES and VIDEOS--------------- */
article {
    margin: 20px;
    margin-bottom: 50px;
    color: var(--main-text-color);
    margin-left: 20%;
    margin-right: 20%;
}
.imgVid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imgVid > img, video {
    margin: 2%;
    border-radius: 7px;
    
    /* BOX SHADOW */
    -webkit-box-shadow: 0px 0px 5px 1px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(184,184,184,1);
    box-shadow: 0px 0px 5px 1px rgba(184,184,184,1);
}

/* ---------------CONTACT + FOOTER--------------- */
.contactHeading {
    font-weight: bold;
}
.contact, .contact > ul > li  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
}
footer {
    color: var(--main-text-color);
    margin: 20px;
    margin-top: 50px;
    text-align: center;
}

/* ---------------BOOK A TEE TIME start--------------- */

 /* Styling/design source:
 https://webdesign.tutsplus.com/tutorials/bring-your-forms-up-to-date-with-css3-and-html5-validation--webdesign-4738
 */

form {
    text-align: center;
    color: rgb(96, 96, 96);
}
form input {
	padding:5px 8px;
	margin: 5px;
}
form textarea {
	padding:8px;
	margin: 5px;
	width:300px;
}
/* Input fields (shadow + expand) */
form input, form textarea {
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:20px;
	transition: padding .25s;
	}
form input:focus, form textarea:focus {
    outline: none;
	background: #fff;
	border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    border-radius:20px;
	padding-right:70px;
    }
form input[type="datetime-local"]:focus {
    padding-right: 8px;
    }

	/* Submit button */
button.submit {
	background-color: #68b12f;
	background: linear-gradient(to top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	box-shadow: inset 0 1px 0 0 #9fd574;
	color: white;
	font-weight: bold;
    padding: 6px 20px;
	text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer;
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset;
}
    /* Error msg, if user tries to submit without name or email  */
#message {
    color: red;
    font-weight: bold;
    }
/* ---------------BOOK A TEE TIME end--------------- */



/* ---------------MEDIA QUERIES--------------- */

@media(max-width:1000px){
    nav > ul{
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }
    nav > ul > li > a {
        padding: 7px;
    }
    .imgVid > * {
        max-width: 90%;
}

@media(max-width:650px){
    .main-logo{
        width: 100%;
    }
    nav > ul > li > a {
        padding: 15px;
    }
    .artHead {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .imgVid > img {
        height: 37vh;
    }
    .imgVid > video {
        max-width: 90%;
    }
    article {
        margin: 30px;
    }
    form textarea {
	padding:8px;
	margin: 5px;
	width: 90%;
}
}}
